body {
    font-family: helvetica;
    color: #1A1A1A;
    background-color: #1A1A1A;
}
.tic-tac-toe {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    border: solid;
    background-color: white;
    border-color: #1A1A1A;
}
button {
    text-decoration: none;
    background-color: white;
    border-color: #1A1A1A;
    width: 80px;
    height: 80px;
    font-size: 50px;
    margin: 3px;
}
.difficulty-menu form {
    display: flex;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    padding-bottom: 8px;
}
.declare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;

    border-radius: 20px;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    font-size: 2em;
    color: white;
}
.declare button {
    height: 50px;
    width: 100px;

    font-size: 0.5em;
    font-weight: bold;

    border: non;
    border-radius: 10px;
    background-color: white;
    color: purple;
}
@media (min-width: 700px) {
    .tic-tac-toe {
        width: 675px;
    }
}
